<div class="modal-header">
  <h4 class="modal-title">Register User</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeWindow()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-8 offset-2">


      <form [formGroup]="userRegisterForm" (ngSubmit)="registerUser()">
        <div class="form-group">
          <input type="text" name="profile" formControlName="profile" class="form-control" placeholder="Profile URL">
        </div>
        <div class="form-group">
          <input type="text" name="firstName" formControlName="firstName" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
          <input type="text" name="lastName" formControlName="lastName" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group" *ngIf="isNewRecord">
          <input type="email" name="email" formControlName="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" name="city" formControlName="city" class="form-control" placeholder="City">
        </div>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="gender">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="Male"> Male
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="Female"> Female
          </label>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-info">{{isNewRecord ? 'Submit' : 'Update'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="closeWindow()">Close</button>
</div>
